body {
	background: #e4f4fe;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	font-family: Arial;
}

#growthpic {
	display: block;
	width: 65%;
	margin: auto;
}

header ul {
	display: block;
	list-style-type: none;
	background-color: #92a8d1;
	background-image: url("grass-background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 50%;
	padding: 15px;
	margin: auto;
	border: 1px solid #391d42;
	text-align: center;
}

header li {
	display: inline-block;
	width: 20%;
	font-family: helvetica;
	padding: 10px;
	white-space: nowrap;
	

}

header a:hover {
	background-color: yellow;
}

a:visited {
	color: orange;
}

.italic {
	font-style: italic;
}
@media only screen and (max-width: 600px) {
	header {
		font-size: 70%;
	}
	header ul {
		background-size: 150%;
	}
}